/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*** MY STYLES START HERE ***/

body {
	font-family: 'Cabin', sans-serif;
	background: #191919;
}

#container {
	background: #B1D7D8;
	width: 960px;
	height: 100%;
	margin: 0 auto;
	padding: 20px;
	line-height: 22px;
	text-align: center;
}

ul li {
	display: inline-block;
}

ul li a, a:visited {
	text-decoration: none;
	background: #1B3944;
	color: #fff;
	padding: 5px;
}

ul li a:hover {
	text-decoration: none;
	background: #fff;
	color: #1B3944;
	padding: 5px;
}

h1 {
	text-align: center;
	font-size: 200%;
	font-family: 'Pacifico', cursive;
	margin-top: 40px;
}

h2 {
	text-align: center;
	font-size: 150%;
	color: #1B3944;
	margin-top: 15px;
	margin-bottom: 15px;

}

img {
	border: 1px solid #1B3944;
	width: 350px;
	margin: 0 auto;
}

p {
	padding: 5px;
	margin-top: 15px;
}

footer {
	margin-top: 40px;
	text-align: left;
}



























