/* css resets via meyer web */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* begin my styles */

/*** basic styles ***/

body {
	margin: 0;
	padding: 0;
	background: #191919 url('../images/noisy_net.png');
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
}

/*** bg-img is free for noncommercial use, no credit needed but...
	This pattern is downloaded from www.subtlepatterns.com 
	If you need more, that's where to get'em.
 ***/

#container {
	background: rgba(0,0,0,.25);
	width: 600px;
	height: 100%;
	margin: 0 auto;
	padding: 20px;
	line-height: 22px;
}

h1 {
	text-align: center;
	font-family: 'Nothing You Could Do', cursive;
	font-size: 200%;
}

img {
	display: block;
	margin: auto;
}

/*** form styles ***/

form {
	width: 500px;
	margin: 0 auto;
	border: 3px #D0C972 solid;
	border-radius: 5px;
}

input[type=text] {
	background: #F0FFFF;
	width: 95%;
	border: solid 2px #57677D;
	padding: 5px;
	margin-top: 5px;
}

input[type=radio] {
	margin-right: 7px;}

label.radio {
	margin-right: 10px;
	vertical-align: middle;
}

select {
	background: #F0FFFF;
	width: 95%;
	border: solid 2px #57677D; 
	padding: 10px;
	font-size: 100%
}

input[type=submit], input[type="button"] {
	display: block;
	width: 450px;
	margin: 30px auto 40px auto;
	padding: 20px;
	text-transform: uppercase;
	font-family: 'Ubuntu', sans-serif;
	font-size: 150%;
	background: #A3B3C9;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2); 
    border-radius:4px; 
    border: solid 1px #3E4E64; 
}

/*** p styles ***/

p {
	background: #24344A;
	min-height: 50px;
	padding: 5px;
	color: #fff;
	margin: 10px;
}

p.first {
	border: 3px solid #24344A;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

p.last {
	border: 3px solid #24344A;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

p.last label {
	vertical-align: center;
}

p.thanks {
	text-align: center;
	font-family: 'Nothing You Could Do', cursive;
	font-size: 150%;
	background: transparent;
	margin-top: 20px;
}

p.info {
	text-align: center;
	font-size: 100%;
	background: transparent;
	margin-top: 80px;
}

p.results {
	text-align: center;
	padding-top: 30px;
	border: 3px #D0C972 solid;
	border-radius: 5px;
	margin-top: 0;
}

/*** footer styles ***/

footer {
	text-align: right;
}

footer p {
	background: transparent;
	margin-top: 50px;
}

/*** link styles ***/

a:link, a:visited {
	color: #FFFFD8;
}

a:hover {
	color: #F0FFFF;
}