/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	margin: 0;
	padding: 0;
	background: #191919 url('images/noisy_net.png');
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
}

#container {
	background: rgba(0,0,0,.25);
	width: 600px;
	height: 100%;
	margin: 0 auto;
	padding: 20px;
	line-height: 22px;
}

h1 {
	text-align: center;
	font-family: 'Nothing You Could Do', cursive;
	font-size: 200%;
}

img {
	display: block;
	margin: auto;
}

form {
	width: 500px;
	margin: 0 auto;
}

p {
	background: #24344A;
	height: 50px;
	padding: 5px;
	color: #fff;
	border: 3px #D0C972 solid;
	border-radius: 5px;
	margin: 10px;
}

footer {
	text-align: right;
}

input[type="submit"] {
	display: block;
	width: 250px;
	margin: 50px auto;
	padding: 20px;
}