/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*** MY STYLES START HERE ***/

body {
	font-family: 'Quicksand', sans-serif;
	background: #191919 url('../images/debut_light.png');
}

#container {
	background: rgba(105,210,231,.5);
	width: 600px;
	height: 100%;
	margin: 0 auto;
	padding: 20px;
	line-height: 22px;
}

h1 {
	text-align: center;
	font-size: 200%;
	margin-bottom: 50px;
}

h2 {
	text-align: center;
	font-size: 150%;
	color: #fff;

}

form {
	margin: 20px auto;
}

fieldset {
	border: 1px solid #000;
	background: #fff;
	padding: 8px;
	width: 262px;
	float: left;
	margin: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2); 
}

legend {
	text-align: center;
	font-size: 180%;
	border: 1px solid #000;
	padding: 8px;
	background: #000;
	color: #d1e751;
	font-family: 'Permanent Marker', cursive;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

label {
	font-weight: 700;
}

#last {
	margin-bottom: 50px;
}

input {
	display: block;
	margin-left: 3px;
}

input[type=submit], input[type="button"] {
	display: block;
	width: 350px;
	margin: 900px auto 40px auto;
	padding: 15px;
	text-transform: uppercase;
	font-size: 150%; 
    clear: both;
    background: #000;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2); 
    border-radius:4px; 
    border: solid 1px #3E4E64; 
    color: #d1e751;
    font-family: 'Permanent Marker', cursive;
}

footer {
	 clear: both;
}

.pinfo {
	border: 1px solid #fff;
	color: #d1e751;
	background: #000;
	padding: 8px;
	width: 262px;
	float: left;
	margin: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2); 
}

.pinfo p {
	text-align: center;
	font-weight: 700;
}

#stats {
	clear: both;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	border: 1px solid #000;
	padding: 5px;
	margin: 330px auto 50px auto;
}



























